$pink: #ff007e;

p {
  color: $pink;
}

$myColor_1: #E4F2F1;
$myColor_2: #2c66b0;

$myColor_3: palegoldenrod;

$myFont: Calibri;

html {
    font-family: $myFont, Arial, sans-
    serif;
}

h1 {
    color:$myColor_2;
    // Bsp. fuer Nesting
    // &:hover {
    //     background-color: lighten($color: $myColor_3);
    // }
}

ul {
    margin: .4em 0;
    float: left;
    width: 100%;
    list-style-type: none;
        li {
            float: left;
                a {
                    color: $myColor_1;
                    text-decoration: none;
                    display: block;
                    padding: .7em;
                    border-right: 3px #ff007e solid;
                    background-color:
                    $myColor_2;
                }
        }
}

a {
    &:hover, &:focus {
        background-color: lighten($myColor_3,10%);
        color: $myColor_3;
        padding: 100px 0 100px 0;
    }
}

$primary-color: #bdbdff;

// Loops
$sizes: 40px, 50px, 80px;

/* For-each */
@each $size in $sizes {
    .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
    }
}

/* Maps */
$my-map: (h1:2em, h2:1.6em, h3:1.2em);
@each $tag, $size in $my-map {
    #{$tag} {
        font-size: $size;
    }
}
// oder 
// h1 {
// width: nth($sizes, 2)
// }

/* Mixins testen */
@mixin border-box{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper{
    @include border-box;
}

// @mixin heading($size){
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     color: $pink;
//     font-size: $size;
//     font-weight: normal;
// }
// h1{
//   @include heading(2em);  
// }
// h2{
//     @include heading(1.6em);
// }

/* Extend mit einer Box testen (S. 12 Skript) */
%message {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
    margin: 20px;
    width: 200px;
}

.success {
    @extend %message;
    border-color: green;
}

.error {
    @extend %message;
    border-color: red;
}

.warning {
    @extend %message;
    border-color: yellow;
}

/* Frau Ridders Lösung */
@mixin ueberschrift($groesse) {
    @extend %ueberschrift; 
    font-size: $groesse;
}

/* Fehler */
// h1{
//     @include ueberschrift(3em);
// }
// h2{
//     @include ueberschrift(2em);
// }
// h3 {
//     @include ueberschrift(1.4em);
// }

// ersetzen durch 
$my-map: (h1:2em, h2:1.6em, h3:1.2em, h4:1.1em);
@each $key, $value in $my-map {
#{$key}{
    @include ueberschrift($value);    
    }
}