$maincolor: #9a3232;
$specialfont: Cambria;
$font: Calibri;
/* $breakpoints: (sm 576px), (md 768px), (lg 992px), (xl 1200px); */

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);
