$maincolor: #8d0c0c;
$specialfont: Cambria;
$font: Calibri;
$breakpoints: (sm 576px), (md 768px), (lg 992px), (xl 1200px);

$columns: 12;
$gutter: 1em;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);